extends layout

block navbar
  ul 
    li 
      a(href='localhost:3000') Home 
    li 
      a(href=) Download 
    li 
      a About Us 
    li 
      a Contact 
block content
  h1= title
  p Welcome to #{title}

block footer 
  ul 
    li 
      p Lorem.
    li 
      p Lorem, ipsum.
    li 
      p Lorem, ipsum dolor.
    li 
      p Lorem ipsum dolor sit.